In [1]:
from fossa import LatestWindowAnomalyDetector

In [2]:
clf = LatestWindowAnomalyDetector(p_threshold=0.001)

In [3]:
from fossa.utils import dummy_data

In [4]:
history = dummy_data(num_days=10, num_categories=8, min_val=100, max_val=1000)

In [10]:
history

                     value
date       category
2011-01-01 0           727
           1           774
           2           734
           3           196
           4           252
           5           189
           6           807
           7           455
2011-01-02 0           759
           1           192
           2           967
           3           331
           4           386
           5           968
           6           533
           7           606
2011-01-03 0           729
           1           790
           2           542
           3           181
           4           525
           5           637
           6           909
           7           866
2011-01-04 0           163
           1           823
           2           580
           3           152
           4           241
           5           212
...                    ...
2011-01-07 2           776
           3           989
           4           613
           5           864
           6           308
           7           684
2011-01-08 0           812
           1           322
           2           918
           3           894
           4           113
           5           231
           6           668
           7           704
2011-01-09 0           721
           1           330
           2           192
           3           336
           4           249
           5           682
           6           225
           7           638
2011-01-10 0           825
           1           888
           2           841
           3           672
           4           344
           5           597
           6           269
           7           555

[80 rows x 1 columns]

In [6]:
new_day = dummy_data(num_days=1, num_categories=8, min_val=100, max_val=1000)

In [7]:
new_day

                     value
date       category
2011-01-01 0           653
           1           544
           2           998
           3           846
           4           804
           5           395
           6           251
           7           476

In [8]:
clf.fit(history)

LatestWindowAnomalyDetector(p_threshold=0.001)

In [11]:
clf.predict(new_day)[0]

0   -1.0
1   -1.0
2    1.0
3    1.0
4    1.0
5   -1.0
6    0.0
7   -1.0
Name: direction, dtype: float64