In [2]:
from fossa import LatestWindowAnomalyDetector

In [19]:
clf = LatestWindowAnomalyDetector(p_threshold=0.00001)

In [4]:
from fossa.utils import dummy_data

In [5]:
history = dummy_data(num_days=10, num_categories=8, min_val=100, max_val=1000)

In [13]:
# history

In [49]:
new_day = dummy_data(num_days=1, num_categories=8, min_val=100, max_val=1000)

In [50]:
new_day

                     value
date       category
2011-01-01 0           460
           1           992
           2           288
           3           849
           4           230
           5           601
           6           133
           7           674

In [51]:
clf.fit(history)

LatestWindowAnomalyDetector(p_threshold=1e-05)

In [52]:
pred = clf.predict(new_day)[0]

In [53]:
pred

0   -1.0
1    1.0
2    0.0
3    0.0
4   -1.0
5    1.0
6    0.0
7   -1.0
Name: direction, dtype: float64

In [54]:
for x in pred:
    print(x)
    assert x in [0, -1, 1]

-1.0
1.0
0.0
0.0
-1.0
1.0
0.0
-1.0

In [24]:
clf.detect_trends(new_day)[0]

               p  direction
0   9.690008e-11       -1.0
1   0.000000e+00        1.0
2   7.813969e-64        1.0
3  2.543305e-188       -1.0
4   8.287143e-13       -1.0
5   2.466900e-12        1.0
6  9.983779e-227        1.0
7   1.565369e-47       -1.0