In [1]:
from fossa import LatestWindowAnomalyDetector

In [2]:
clf = LatestWindowAnomalyDetector(p_threshold=0.00001)

In [3]:
from fossa.utils import dummy_data

In [4]:
history = dummy_data(num_days=10, num_categories=8, min_val=100, max_val=1000)

In [13]:
clf.fit(history)

LatestWindowAnomalyDetector(p_threshold=1e-05)

In [14]:
new_day = dummy_data(num_days=1, num_categories=8, min_val=100, max_val=1000)

In [15]:
new_day

                     value
date       category
2011-01-01 0           157
           1           124
           2           900
           3           209
           4           421
           5           710
           6           506
           7           383

In [16]:
clf.predict(new_day)

                     direction
date       category
2011-01-01 0              -1.0
           1              -1.0
           2               1.0
           3              -1.0
           4              -1.0
           5               1.0
           6              -1.0
           7              -1.0

In [17]:
two_days = dummy_data(num_days=2, num_categories=8, min_val=100, max_val=1000)

In [18]:
clf.predict(two_days)

                     direction
date       category
2011-01-01 0              -1.0
           1               1.0
           2              -1.0
           3              -1.0
           4               1.0
           5               1.0
           6              -1.0
           7              -1.0
2011-01-02 0               0.0
           1               1.0
           2               1.0
           3              -1.0
           4              -1.0
           5              -1.0
           6               1.0
           7               0.0

In [20]:
clf.detect_trends(new_day)

                                 p  direction
date       category
2011-01-01 0         1.692518e-188       -1.0
           1         1.315110e-151       -1.0
           2         6.493018e-211        1.0
           3         3.097252e-161       -1.0
           4         6.258828e-140       -1.0
           5         1.344061e-174        1.0
           6         5.489816e-142       -1.0
           7         3.860273e-138       -1.0