In [1]:
from fossa import LatestWindowAnomalyDetector

In [2]:
clf = LatestWindowAnomalyDetector(p_threshold=0.00001)

In [3]:
from fossa.utils import dummy_data

In [4]:
history = dummy_data(num_days=10, num_categories=8, min_val=100, max_val=1000)

In [5]:
clf.fit(history)

LatestWindowAnomalyDetector(p_threshold=1e-05)

In [6]:
new_day = dummy_data(num_days=1, num_categories=8, min_val=100, max_val=1000)

In [7]:
new_day

                     value
date       category
2011-01-01 0           774
           1           754
           2           178
           3           877
           4           645
           5           385
           6           473
           7           452

In [8]:
clf.predict(new_day)

                     direction
date       category
2011-01-01 0               1.0
           1               1.0
           2              -1.0
           3               1.0
           4               1.0
           5               1.0
           6              -1.0
           7              -1.0

In [9]:
two_days = dummy_data(num_days=2, num_categories=8, min_val=100, max_val=1000)

In [10]:
clf.predict(two_days)

                     direction
date       category
2011-01-01 0               1.0
           1               1.0
           2              -1.0
           3               1.0
           4               1.0
           5               1.0
           6              -1.0
           7              -1.0
2011-01-02 0               1.0
           1              -1.0
           2              -1.0
           3               1.0
           4               1.0
           5               1.0
           6              -1.0
           7              -1.0

In [11]:
clf.detect_trends(new_day)

                                 p  direction
date       category
2011-01-01 0         1.775349e-215        1.0
           1          1.439204e-30        1.0
           2         4.422062e-180       -1.0
           3          4.112535e-53        1.0
           4          0.000000e+00        1.0
           5          2.516433e-32        1.0
           6          4.814450e-56       -1.0
           7          5.919140e-83       -1.0

In [12]:
from fossa.utils import one_vs_all_dists

In [13]:
test_dists = new_day.copy()

In [14]:
test_dists.index = test_dists.index.droplevel(0)

In [15]:
test_dists

          value
category
0           774
1           754
2           178
3           877
4           645
5           385
6           473
7           452

In [16]:
onevall_dists = one_vs_all_dists(test_dists)
onevall_dists

{'0': [774.0, 3764.0],
 '1': [754.0, 3784.0],
 '2': [178.0, 4360.0],
 '3': [877.0, 3661.0],
 '4': [645.0, 3893.0],
 '5': [385.0, 4153.0],
 '6': [473.0, 4065.0],
 '7': [452.0, 4086.0]}

In [17]:
onevall_dists = one_vs_all_dists(test_dists, normalize=True)
onevall_dists

{'0': [0.17055971793741737, 0.8294402820625827],
 '1': [0.16615249008373734, 0.8338475099162627],
 '2': [0.03922432789775231, 0.9607756721022477],
 '3': [0.19325694138386953, 0.8067430586161305],
 '4': [0.14213309828118115, 0.8578669017188189],
 '5': [0.08483913618334069, 0.9151608638166593],
 '6': [0.10423093873953283, 0.8957690612604672],
 '7': [0.09960334949316879, 0.9003966505068312]}